# Build output
main
asianscraper
app
*.exe
*.dll
*.so
*.dylib

# Media and Database
*.db
dramas.db
temp_*
poster_*
*.mkv
*.mp4
*.vtt
*.srt

# Secrets and Local Env
.env
.env.local

# IDE
.vscode/
.idea/
